<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_5.xsd" version="2.5">
  <listener>
    <listener-class>httl.spi.loaders.ServletLoader</listener-class>
  </listener>
  <filter>
    <filter-name>httlFilter</filter-name>
    <filter-class>org.nutz.demo.decoratorby.web.filter.HttlViewFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>httlFilter</filter-name>
    <url-pattern>*.httl</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <filter>
    <filter-name>sitemesh</filter-name>
    <filter-class>org.sitemesh.config.ConfigurableSiteMeshFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>sitemesh</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>jetbrick.template.web.JetWebEngineLoader</listener-class>
  </listener>
  <filter>
    <filter-name>jetbrick-template</filter-name>
    <filter-class>jetbrick.template.web.servlet.JetTemplateFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>jetbrick-template</filter-name>
    <url-pattern>*.jetx</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.shtml</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>nutz</filter-name>
    <filter-class>org.nutz.mvc.NutFilter</filter-class>
    <init-param>
      <param-name>modules</param-name>
      <param-value>org.nutz.demo.decoratorby.web.RootModule</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>nutz</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
  </filter-mapping>
</web-app>